@using Duobingo.ConsoleApp.Models
@model CadastrarCompromissoViewModel

@{
	Layout = "_Layout";
	ViewBag.Titulo = "Cadastro de compromissos";
}

<hr />

<div class="row justify-content-center my-5">
	<div class="col-md-8">
		<div class="bg-dark-gray card bg-dark text-white">
			<div class="card-body">

				<form asp-action="Cadastrar" method="post">
					<h3>Formulário de Cadastro</h3>

					@if (ViewData.ModelState["Cadastro Unico"]?.Errors.Count > 0)
					{
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							@ViewData.ModelState["Cadastro Unico"]!.Errors.First().ErrorMessage
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					}

					<div class="form-group d-grid gap-2">
						<label asp-for="Titulo" class="control-label fs-5">Titulo:</label>
						<input asp-for="Titulo" class="form-control" type="text" value="@Model.Titulo" />
						<span asp-validation-for="Titulo" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2">
						<label asp-for="Assunto" class="control-label fs-5">Assunto:</label>
						<input asp-for="Assunto" class="form-control" type="text" value="@Model.Assunto" />
						<span asp-validation-for="Assunto" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="DataOcorrencia" class="control-label fs-5">Data:</label>
						<input asp-for="DataOcorrencia" class="form-control" type="date"  />
						<span asp-validation-for="DataOcorrencia" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="HoraInicio" class="control-label fs-5">Hora de Início:</label>
						<input asp-for="HoraInicio" class="form-control" type="time" value="@Model.HoraInicio" />
						<span asp-validation-for="HoraInicio" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="HoraTermino" class="control-label fs-5">Hora de Término:</label>
						<input asp-for="HoraTermino" class="form-control" type="time" value="@Model.HoraTermino" />
						<span asp-validation-for="HoraTermino" class="text-danger"></span>
					</div>
					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="TipoCompromisso" class="control-label fs-5">Tipo de Compromisso:</label>
						<select asp-for="TipoCompromisso" class="form-select">
							<option value="">Selecione</option>
							<option value="Presencial">Presencial</option>
							<option value="Online">Online</option>
						</select>
						<span asp-validation-for="TipoCompromisso" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="Local" class="control-label fs-5">Local (Se  for presencial):</label>
						<input asp-for="Local" class="form-control" type="text" value="@Model.Local" />
						<span asp-validation-for="Local" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="Link" class="control-label fs-5">Link (Se for remoto):</label>
						<input asp-for="Link" class="form-control" type="text" value="@Model.Link" />
						<span asp-validation-for="Link" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="ContatoId" class="control-label fs-5">Contato:</label>
						<select asp-for="ContatoId" name="ContatoId" id="ContatoId" class="form-select">
							<option value="">Sem contato</option>
							@foreach (var contato in Model.ContatosDisponiveis)
							{
								<option value="@contato.Id">@contato.Nome</option>
							}
						</select>
					</div>


					<div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
						<a class="text-light" href="/compromissos">Voltar</a>
						<button type="submit" class="btn btn-light px-5">Confirmar</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}