@model CadastrarContatoViewModel

@{
	Layout = "_Layout";
	ViewBag.Titulo = "Cadastro de contatos";
}

<hr />

<div class="row justify-content-center my-5">
	<div class="col-md-8">	
		<div class="bg-dark-gray card bg-dark text-white">
			<div class="card-body">

				<form asp-action="Cadastrar" method="post">
					<h3>Formulario de Cadastro</h3>

					@if (ViewData.ModelState["Cadastro Unico"]?.Errors.Count > 0)
					{
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							@ViewData.ModelState["Cadastro Unico"]!.Errors.First().ErrorMessage
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					}
					<div class="form-group d-grid gap-2">
						<label asp-for="Nome" class="control-label fs-5">Nome: </label>
						<input asp-for="Nome" class="form-control" type="text" value="@Model.Nome">
						<span asp-validation-for="Nome" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="Email" class="control-label fs-5">Email: </label>
						<input asp-for="Email" class="form-control" type="text" value="@Model.Email">
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="Telefone" class="control-label fs-5">Telefone: </label>
						<input asp-for="Telefone" class="form-control" type="text" value="@Model.Telefone">
						<span asp-validation-for="Telefone" class="text-danger"></span>
					</div>

					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="Cargo" class="control-label fs-5">Cargo (Opcional): </label>
						<input asp-for="Cargo" class="form-control" type="text" value="@Model.Cargo">
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					
					<div class="form-group d-grid gap-2 mt-3">
						<label asp-for="Empresa" class="control-label fs-5">Empresa (Opcional): </label>
						<input asp-for="Empresa" class="form-control" type="text" value="@Model.Empresa">
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>


					<div class="form-group  d-flex align-items-center justify-content-end gap-3 mt-5">
						<a class="text-light " href="/contatos"> Voltar</a>
						<button type="submit" class="btn btn-light px-5"> Confirmar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}